<div class="alert alert-warning" ng-show="order.time">
	<a class="close" href="#" ng-click="order.time = 0">&times;</a>
	<strong>Well done!</strong> Your order will be delivered in {{order.time}} minutes.
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				Select your pizza
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-class="{disabled: search === null}" ng-click="search = null">All</button>
					<button type="button" class="btn btn-default" ng-class="{disabled: search.vege === true}" ng-click="search.vege = true">Only vegetarian</button>
					<button type="button" class="btn btn-default" ng-class="{disabled: search.vege === false}" ng-click="search.vege = false">Only with meat</button>
				</div>
				<hr/>
				<div ng-repeat="pizza in list | filter: search">
					<div class="pull-right">
						<div class="price">{{pizza.price}} €</div>
						<button type="button" ng-click="order.add(pizza)"
						        class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>
							Order
						</button>
					</div>
					<h3>
						{{pizza.name}}
						<span class="label label-warning" ng-show="pizza.vege">vegetarian</span>
					</h3>

					<p>
						<span ng-repeat="item in pizza.content">{{item}}<span ng-hide="$last">, </span></span>
					</p>
					<hr ng-hide="$last"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				Your order
			</div>
			<div class="panel-body">
				<p ng-hide="order.total">
					Please select your pizza.<br/>
					Discount {{order.discountLevel}}% for order more than
					{{order.discountForTotalMoreThan}}€.
				</p>
				<table class="table">
					<tr ng-show="order.cart.length">
						<th>name</th>
						<th>price</th>
						<th>count</th>
						<th>total</th>
						<th></th>
					</tr>
					<tr ng-repeat="item in order.cart">
						<td>{{item.pizza.name}}</td>
						<td>{{item.pizza.price}} €</td>
						<td>{{item.count}}</td>
						<td>{{item.count * item.pizza.price | number:2}} €</td>
						<td>
							<button type="button" ng-click="order.remove($index)"
							        class="btn btn-default btn-xs" title="remove">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
					<tr ng-show="order.cart.length && order.discount > 0">
						<th>Discount</th>
						<th></th>
						<th></th>
						<th>{{order.discount}}%</th>
						<th></th>
					</tr>
					<tr ng-show="order.cart.length">
						<th>TOTAL</th>
						<th></th>
						<th></th>
						<th>{{order.total * (100 - order.discount)/100 | number:2}} €</th>
						<th></th>
					</tr>
				</table>
				<div class="alert alert-warning" ng-show="order.discountMessage">
					<a class="close" href="#" ng-click="order.discountMessage = false">&times;</a>
					<strong>Congrats!</strong> You've got {{order.discount}}% discount!
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default"
				        ng-disabled="order.total === 0"
				        ng-click="order.clear()">Clear order
				</button>
				<button class="btn btn-primary pull-right" ng-disabled="order.total === 0"
				   ng-click="order.purchase()">
					Purchase your pizzas
				</button>
			</div>
		</div>
		<!--<pre>{{order | json}}</pre>-->
	</div>
</div>
