<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Select your pizza
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default" ng-class="{disabled: search === null}" ng-click="search = null">All</button>
					<button type="button" class="btn btn-default" ng-class="{disabled: search.vege === true}" ng-click="search.vege = true">Only vegetarian</button>
					<button type="button" class="btn btn-default" ng-class="{disabled: search.vege === false}" ng-click="search.vege = false">Only with meat</button>
				</div>
				<hr/>
				<div ng-repeat="pizza in list | filter: search">
					<div class="pull-right">
						<div class="price">{{pizza.price}} €</div>
						<button type="button" ng-click="cart.add(pizza)"
						        class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>
							Order
						</button>
					</div>
					<h3>
						{{pizza.name}}
						<span class="label label-default" ng-show="pizza.vege">vegetarian</span>
					</h3>

					<p>
						<span ng-repeat="item in pizza.content">{{item}}<span ng-hide="$last">, </span></span>
					</p>
					<hr ng-hide="$last"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				Your order
			</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="pizza in cart.cart">{{pizza.name}} ({{pizza.price}} €)</li>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<div class="total">{{cart.total}} €</div>
				</div>
				Total:
				<button type="button" class="btn btn-danger"
				        ng-disabled="cart.total === 0"
				        ng-click="cart.clear()">Clear order
				</button>
			</div>
		</div>
	</div>
</div>
