<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Select your pizza
			</div>
			<div class="panel-body">
				<div ng-repeat="pizza in list">
					<button type="button" class="btn btn-success pull-right">
						<span class="glyphicon glyphicon-plus"></span>
						Order
					</button>
					<h3>{{pizza.name}}</h3>
					<p>
						<span ng-repeat="item in pizza.content">{{item}}<span ng-hide="$last">, </span></span>
					</p>
					<hr ng-hide="$last"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				Your order
			</div>
			<div class="panel-body">
			</div>
			<div class="panel-footer">
				Total:
			</div>
		</div>
	</div>
</div>
