<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Select your pizza
			</div>
			<div class="panel-body">
				<div ng-repeat="pizza in list">
					<div class="pull-right">
						<div class="price">{{pizza.price}} €</div>
						<button type="button" ng-click="cart.add(pizza)"
						        class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>
							Order
						</button>
					</div>
					<h3>{{pizza.name}}</h3>
					<p>
						<span ng-repeat="item in pizza.content">{{item}}<span ng-hide="$last">, </span></span>
					</p>
					<hr ng-hide="$last"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				Your order
			</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="pizza in cart.cart">{{pizza.name}} ({{pizza.price}} €)</li>
				</ul>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					{{cart.total}} €
				</div>
				Total:
				<button type="button" class="btn btn-danger"
				        ng-disabled="cart.total === 0"
				        ng-click="cart.clear()">Clear order</button>
			</div>
		</div>
	</div>
</div>
